.footer {
    background-color: #A0522D;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.footer-text {
    margin: 0;
}

.footer-highlight {
    margin: 0 10px;
    font-size: 16px;
}

.footer-contact {
    margin: 0 10px;
    font-size: 16px;
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}

    .footer-link:hover {
        text-decoration: none;
    }

    .footer-link i {
        margin-right: 5px;
    }

.btn {
    transform: scale(1);
    transition: transform 0.3s ease;
}

    .btn:hover {
        transform: scale(1.05);
    }