<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
</head>

<body class="body_Show">
    <header style="text-align: center;">
        @await Component.InvokeAsync("TVShowList")
        <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
            <a type="submit" asp-controller="TVShow" asp-action="AddTVShow" class="button reservation">Add new TV station</a>
            <a type="submit" asp-controller="Login" asp-action="logout" class="button reservation">logOut</a>
        </div>
    </header>


    <footer class="footer_Show">
    </footer>
</body>
</html>
